body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#montage
{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 960px; // 1280px;
    height: 540px; // 720px;
    overflow: hidden;
}

.crop{
    // background-color: none;
    border: 1px solid black;
    position:fixed;
    overflow: hidden;
}

.highlight{
    background-color: #ffdddd;
}

#after{
    visibility: hidden;
    position:fixed;
    top:580px;
    left:1em;
}

#apply{
    padding-top: 1em;
}

.selectClip{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-top: 1px solid #dddddd;
}

.selectClip input{
    margin-left: 0.5em;
}
