body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#montage
{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 960px;
    height:540px;
    overflow: hidden;
}

.crop{
    position:fixed;
    overflow: hidden;
}
