body
{
    margin: 0;
    padding: 0;
}
#montage
{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 640px;// 960px; // 1280px;
    height: 360px; // 540px; // 720px;
}

.crop{
    background-color: inherit;
    border: 1px solid black;
    position:fixed;
    overflow: hidden;
}

.highlight{
    background-color: #ffdddd;
}

#after{
    visibility: hidden;
    // margin-top:600px;
    margin-left:1em;
}

#apply{
    padding-top: 1em;
}

.selectClip{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-top: 1px solid #dddddd;
}

.selectClip input{
    margin-left: 0.5em;
}

.selectClip li{
    padding: 0;
}

.selectClip *{
    vertical-align: middle;
}
.remove{
    // margin-right: 1em;
    border: none;
    background-color: white; // #eeeeee;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 150%;
    color: gray;
    vertical-align: middle;
}

input[type='number']{
    width: 5em;
}

ol{
    margin: 0;
}
